@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    background-image: url('https://res.cloudinary.com/dmqvn9sj8/image/upload/v1722038914/About_me_2_jivmq7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    color: #fff;
    text-align: center;
    background-image: url('https://res.cloudinary.com/dmqvn9sj8/image/upload/v1722050420/About_me_800_x_200_px_gmsrni.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.project {
    background: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-banner{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.01);
    border: none;
    margin: 25px 30px 15px;
}

.btn-banner:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.textcar{
    color: black;
}


.content{
    display: none;
    text-align: center;
}

.form-group{
    margin-bottom: 2%;
}

.btn-send{
    display: flex;
}

.img-am{
    width: 45%;
    margin-bottom: 9px;
}

h3{
    margin-top: 2%;
    margin-bottom: 2% ;
}